# Development requirements (in addition to requirements.txt)
# Install with: pip install -r requirements-dev.txt

# Testing
pytest==7.4.0
pytest-cov==4.1.0
requests==2.31.0

# Code Quality
black==23.9.1
flake8==6.1.0
pylint==2.17.5
isort==5.12.0

# Debugging
ipython==8.15.0
jupyter==1.0.0

# Documentation
sphinx==7.2.6
sphinx-rtd-theme==1.3.0
